<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, aspernatur.</li>
        <li>Distinctio, ducimus tempore amet laborum consectetur reiciendis accusamus fugiat? Quas?</li>
        <li>Deleniti quis recusandae commodi magni officiis sed nostrum deserunt exercitationem.</li>
        <li>Consequuntur accusantium ab quos incidunt fugit culpa quisquam labore repellendus?</li>
        <li>Amet accusantium, ab obcaecati ipsum autem dicta sit assumenda similique!</li>
    </ul>√
</body>
</html>